:root {
  color-scheme: light dark;
}

html[data-theme='light'] {
  background-color: #ffffff;
  color: #000000;
}

html[data-theme='dark'] {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: #ffffff;
}

[data-theme='dark'] body {
  background-color: #000000;
}